body{
    background-image: url('scene.jpeg');
}
.task10{
    background-color: blue;
}

.task11 {
      border: 2px solid black;
    }

    /* Inner elements style */
    .item {
      border: 1px dotted black;
    }
  
